.tournament-info {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #333;
    border-radius: 5px;
}

.tournament-info p {
    margin: 5px 0;
}

.tournament-deck {
    margin-top: 20px;
    text-align: center;
}

.deck-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#deckImagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
